<!DOCTYPE html>
<head>
<title> Ma8ic Trivia </title>
</head>
  <body>
    <link href="https://fonts.googleapis.com/css?family=Monoton" rel="stylesheet">
    <link rel="stylesheet" href="astros.css">
    <body style="background-color:Black">
      <div id="header">
      <h1>Ma8ic Trivia </h1>
      </div>
  <hr>
<div id="Rules">
  <h4> Ma8ic Trivia is a two player game. Once you've chosen your category
     and number of rounds, the Magic 8-Ball will randomize the time and points given to
     each trivia question is worth.
  </h4>
  <form class="" action="/eightBall" method="post">
      <button type="submit" name="button">Continue</button>
  </form>
</div>
  </body>
