

<!DOCTYPE html>
<head>

<title> Ma8ic Trivia </title>

</head>
    <!-- Title Font-->
    <link href="https://fonts.googleapis.com/css?family=Signika" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Indie+Flower" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Press+Start+2P" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto+Mono" rel="stylesheet">
    <link rel="stylesheet" href="stylesheet/astros.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    <script src="stylesheet/HomePage.js"></script>

<div class="box">

      <div id="header">
      <h1>Ma8ic Trivia </h1>
      </div>

<!-- The top line-->
      <hr id="hr">
<!-- Rules Paragraph-->

  <div id="Rules">
    <h5> How to play: Ma8ic Trivia is a two player game. <br> Once you've chosen your category
     and number of rounds, <br> the Magic 8-Ball will randomize the time <br> and points given for
     each trivia question.
    </h5>

<!-- Makes the Main Box Border round-->
     <style>
     input[type=text] {
       width: 70%;
       padding: 12px 20px;
       margin: 8px 0;
       box-sizing: border-box;
       border: none;
       border-bottom: 2px solid white;
       background-color: #0c0c0b;
       top: 10%;
       left: 10%;
     }
     </style>
     </head>
<body>
<!-- Player 1 and Player 2 Name Insert-->
<br>

     <p>Enter Players:  </p>
     <!-- <form id="NameInsert" action=""> -->
       <!-- <label for="name1">Player 1</label>
       <input type="text" id="name1" name="player_1">
       <br>
       <label for="name2">Player 2</label>
       <input type="text" id="name2" name="player_2"> -->
     <!-- </form> -->
<body>
<!-- Creates Selection Option-->

<!-- <form class="" action="" method="post" name="selectionText"> -->
<form class="" action="/eightBall" method="post">

  <label for="name1">Player 1</label>
  <input type="text" id="name1" name="player_1">
  <br>
  <label for="name2">Player 2</label>
  <input type="text" id="name2" name="player_2">
  <br>
  <br>

  <div class="input-field col s12">
    <select name="category" class="btn btn-secondary dropdown-toggle DropDown" id="category" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      <option value="" disabled selected>Choose your Category</option>
      <option value="Animals">Animals</option>
      <option value="Geography">Geography</option>
    </select>
    <label><table>
    </table></label>
  </div>
  <br>
  <div class="input-field col s12">
    <select name="difficulty" class="btn btn-secondary dropdown-toggle DropDown" id="category" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      <option value="" disabled selected>Select Difficulty</option>
      <option value="Easy">Easy</option>
      <option value="Less Easy">Less Easy</option>
      <option value="Waaaayyy Less Easy">Waaaayyy Less Easy</option>
    </select>
    <label><table>
    </table></label>
  </div>
  <!-- <div class="dropdown" name="category"> -->
    <!-- <button name="category" class="btn btn-secondary dropdown-toggle DropDown" id="category" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      Category
    </button>
    <div id="category" name="category" class="dropdown-menu" aria-labelledby="dropdownMenuButton">
      <a name="category" class="dropdown-item" onclick="category('Animals')">Animals</a>
      <a name="category" class="dropdown-item" onclick="category('Geography')">Geography</a>
    </div>
  </div>
</form>
  <br>

Creates Round Option
<form class="" action="index.html" method="post" name="difficultyDropdown">
  <div class="" name="difficulty">
    <button name="difficulty" class="btn btn-secondary dropdown-toggle DropDown" type="button" id="difficulty" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      Difficulty
    </button>
    <div id="difficulty" name="difficulty" class="dropdown-menu" aria-labelledby="dropdownMenuButton">
      <a name="difficulty" class="dropdown-item" onclick="select('Easy')">Easy</a>
      <a name="difficulty" class="dropdown-item" onclick="select('Medium')">Medium</a>
      <a name="difficulty" class="dropdown-item" onclick="select('Hard')">Hard</a>
    </div>
  </div> -->
<!-- </form> -->
  <!-- <br> -->
<!-- Creates Start Button-->
  <button class="btn start">Start</button>
  <!-- <input class="btn start" type="submit" name="" value="Start Game"> -->
</form>

  </div>
</div>
</body>
