<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Ma8ic Trivia</title>
    <div class="box">

      <div id="header">
      <h1>Ma8ic Trivia </h1>
      </div>
  </head>
  <link rel="stylesheet" href="stylesheet/endgame.css">
  <body>
    <p>Endgame</p>
    <form class="" action="/" method="post">
      <input type="submit" name="" value="Replay Game">
    </form>
    <!-- <button onclick="goBack()" type="button" name="button">Replay</button>

    <script type="text/javascript">
      function goBack() {
        window.history.go(-2);
      } -->
    </script>
  </body>
</html>
