<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Ma8ic Trivia</title>
    <div class="box">

      <div id="header">
      <h1>GAME OVER </h1>
      </div>
  </head>
  <link rel="stylesheet" href="stylesheet/endgame.css">
  <body>

    <form class="" action="/" method="post">
      <button class="btn start">Play Again</button>
    </form>
    <p class = "vl"></p>
    <div class="boxed" id="player1score">
    <h3> {{ player_1 }} </h3>
  </div>

  <div class="boxed" id="player2score">
  <h3> {{ player_2 }}</h3>
  </div>
  <div class = "end">
    <h2 id = "pl1"> <br><br>{{ player_1 }} <br><br> Won!</h2>
    <h2 id = "pl2"> <br><br>{{ player_2 }} <br><br> Lost :( </h2>
  </div>

    <!-- <button onclick="goBack()" type="button" name="button">Replay</button>

    <script type="text/javascript">
      function goBack() {
        window.history.go(-2);
      } -->
    </script>
  </body>
</html>
