<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <p>Title Screen</p>
    <form class="" action="/name" method="post">
      <select class="" name="difficulty">
        <option value="">Easy</option>
        <option value="">Medium</option>
        <option value="">Hard</option>
      </select>

      <select class="" name="category">
        <option value="">Animals</option>
        <option value="">Geography</option>
      </select>

      <select class="" name="numRounds">
        <option value="">5</option>
        <option value="">10</option>
        <option value="">15</option>
      </select>
      <input type="submit" name="" value="Submit">
    </form>
  </body>
</html>
