<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <p>Title Screen</p>
    <form class="" action="/eightBall" method="post">
      <select class="" name="difficulty">
        <option value="Easy">Easy</option>
        <option value="Medium">Medium</option>
        <option value="Hard">Hard</option>
      </select>

      <select class="" name="category">
        <option value="">Animals</option>
        <option value="">Geography</option>
      </select>

      <select class="" name="numRounds">
        <option value="5">5</option>
        <option value="10">10</option>
        <option value="15">15</option>
      </select>
      <input type="submit" name="" value="Submit">

      <script type="text/javascript">
        sessionStorage.setItem("difficulty","Easy");
      </script>
      <a href="magic_decision.html">Go to Magic Ball</a>
    </form>
  </body>
</html>
