<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <!-- <link rel="stylesheet" href="magic_8.css"> -->
  </head>
  <body>
    <p>Magic Ball</p>

     <form class="" action="/trivia" method="post">
        <button onclick="myFunction()" id="magic_button">Click the button</button>
        <script type="text/javascript">
          // document.write(difficulty)
          // document.write(sessionStorage.difficulty);
          let selectionText = {{ selectionText.selectionText }}

          //   // def index():
          //     // variable = request.args["variable"]
          //
          if (selectionText == "Easy"):
            console.log(0);
          else if (selectionText == "Less Easy"):
            console.log(1);
          else if (selectionText == "Waaaayyy Less Easy"):
            console.log(2);
          //
          // let variable = 0;
          // {% if (difficulty == "Easy") %}
          //   variable = 0;
          //   console.log(variable)
          // {% endif %}
          // {% if (difficulty == "Medium") %}
          //   variable = 1;
          //   console.log(variable)
          // {% endif %}
          // {% if (difficulty == "Hard") %}
          //   variable = 2;
          //   console.log(variable)
          // {% endif %}
          // {{ key_in_dict }}
        </script>
    </form>
  </body>
</html>
