<!DOCTYPE html>
<head>
<title> Ma8ic Trivia </title>
</head>
<link rel="stylesheet" href="stylesheet/Page2.css">
<body>

  <h1> Player 1 </h1>

<!-- Makes the Moving Ball-->

  <div class="box">
    <div>
    <div class="container circle">
    <div class="main one"></div>
    <div class="main two"></div>

    <div class="big circle one"></div>
    <div class="big circle two"></div>
    <h2> Click me!</h2>
    <div class="small circle one"></div>
    <div class="small circle two"></div>
  </div>
</body>
<!-- Makes the Main Box Border round-->
     <style>
     input[type=text] {
       width: 70%;
       padding: 12px 20px;
       margin: 8px 0;
       box-sizing: border-box;
       border: none;
       border-bottom: 2px solid white;
       background-color: #0c0c0b;
       top: 10%;
       left: 10%;
     }
