<!DOCTYPE html>
<head>
<title> Ma8ic Trivia </title>
</head>
<link rel="stylesheet" href="Page2.css">
<body>

<!-- Makes the Moving Ball-->
<a href=
  <div class="box">
    <div>
    <div class="container circle">
    <div class="main one"></div>
    <div class="main two"></div>

    <div class="big circle one"></div>
    <div class="big circle two"></div>
    <h2> Click me!</h2>
    <div class="small circle one"></div>
    <div class="small circle two"></div>
  </div>
  <div >
    <form class= "k" action="/eightBall" method="post">
    <button class="astext">
       <h2>Click to see the outcome </h2>
      </button>
    </form>
  </div>
<!-- Player boxes -->
  <div class="boxed" id="player1score">
  <h1> Player 1 </h1>
</div>

<div class="boxed" id="player2score">
<h1> Player 2 </h1>
</div>
</body>

<div class="decision">
  <h5 id="time"> Time allotted: </h5> <h5 id="points"> Worth:__points</h5>
</div>
<!-- Makes the Main Box Border round-->
     <style>
     input[type=text] {
       width: 70%;
       padding: 12px 20px;
       margin: 8px 0;
       box-sizing: border-box;
       border: none;
       border-bottom: 2px solid white;
       background-color: #0c0c0b;
       top: 10%;
       left: 10%;
     }
