<!DOCTYPE html>
<html lang="en" dir="ltr">
<meta charset="utf-8">
<head>
<title> Ma8ic Trivia </title>
</head>
<link rel="stylesheet" href="stylesheet/Page2.css">
<link href="https://fonts.googleapis.com/css?family=Press+Start+2P" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Monoton" rel="stylesheet">
<body>
<!-- Makes the Moving Ball-->
     <!-- <form class="" action="/eightBall2" method="post">
        <button class="astext" id="magic_button">{{ text_box }}</button>
     </form> -->
     <div class="decision">
       <h5 > It's {{ whoplays }} turn </h5>
     </div>
     <div class = "box">
     <form class = "" action="/trivia" method="post">
        <button class="astext" onclick="myFunction()" id="magic_button">
        <h2>
          <form class="" action="/eightBall2" method="post">
           <button class="astext" id="magic_button">
             <h1>
              <center>
             <div><span class="header">{{text_box}}</span></div>
              </center>
             </h1>
         </button>
        </h2>
</form>
</body>

  </body>
</html>



    <div>
    <div class="container circle">
    <div class="main one"></div>
    <div class="main two"></div>

    <div class="big circle one"></div>
    <div class="big circle two"></div>
    <h2> Click me!</h2>
    <div class="small circle one"></div>
    <div class="small circle two"></div>
  </div>
  <!-- <div >
    <form class= "k" action="/eightBall" method="post">
    <button class="astext">

      </button>
    </form>
  </div> -->
<!-- Player boxes -->
  <div class="boxed" id="player1score">
  <h1> {{player_1}} </h1>
</div>

<div class="boxed" id="player2score">
<h1> {{player_2}} </h1>
</div>
</body>


<!-- Makes the Main Box Border round-->
     <style>
     input[type=text] {
       width: 70%;
       padding: 12px 20px;
       margin: 8px 0;
       box-sizing: border-box;
       border: none;
       border-bottom: 2px solid white;
       background-color: #0c0c0b;
       top: 10%;
       left: 10%;
     }
