<!DOCTYPE html>
  <head>


  <title>Ma8ic Trivia</title>

  </head>

  <link rel="stylesheet" href="stylesheet/results2.css">
  <link href="https://fonts.googleapis.com/css?family=Press+Start+2P" rel="stylesheet">

  <body>
  <div class = "body">  
  <div class="box">
  <br>
          <div id="header">
          <h1>Ma8ic Trivia </h1>
          </div>

  <br>
          <div class= "huh"> <h6 id= "you"> Your answer was: {{answer}} </h6> </div>
  <br>
        <div class= "">
          <h6 id= "actual">The correct answer is: <br>
             {{correct_answer}}</h6>
        </div>


      <div class="boxed" id="player1score">
      <h2> {{ player_1 }} </h2>
      </div>



      <div class="boxed" id="player2score">
      <h2> {{ player_2 }}</h2>
      </div>


        <div id="meme-div">
          <h2 id="line1">{{ line1 }}</h2>
          <h2 id="line2">{{ line2 }}</h2>
        </div>

    <div class = "triword">
      <img src="https://upload.wikimedia.org/wikipedia/commons/e/eb/Magic_eight_ball.png" alt="magic 8-ball">
      {% if correct_answer == answer %}
        <div class = "textal">CORRECT</div>
      {% endif %}
      {% if correct_answer != answer %}
        <div class = "textal">INCORRECT</div>
      {% endif %}
    </div>


    <form class="" action="/" method="post">
      <button id = "replay" class="btn start"> Start Over</button>
    </form>
    <form class="" action="/eightBall2" method="post">
      <button class="btn start">Next Question</button>
      <!-- <input type="submit" name="" value="Next Question"> -->
    </form>

      <!-- <input type="submit" name="" value="Next Question"> -->
    </div>
  </body>
</html>
