<!DOCTYPE html>
<html lang="en" dir="ltr">

  <head>
    <title>Ma8ic Trivia</title>
  </head>

      <!-- Title Font-->
    <link href="https://cdn.jsdelivr.net/npm/pretty-checkbox@3.0/dist/pretty-checkbox.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Monoton" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Press+Start+2P" rel="stylesheet">
    <link rel="stylesheet" href="stylesheet/trivia.css">
    <style media="screen"> </style>
    <script src="templates/timer.js"></script>


<div class="box">
<br>
<center>
<h1>
<div><span class="header">Ma8ic Trivia</span></div>
</h1>
</center>
    <!-- Makes the Main Box Border round-->
         <style>
         input[type=text] {
           width: 70%;
           padding: 12px 20px;
           margin: 8px 0;
           box-sizing: border-box;
           border: none;
           border-bottom: 2px solid white;
           background-color: #0c0c0b;
           top: 10%;
           left: 10%;
         }
         </style>
         </head>

  <body>
    <h2 id= "Answer"> Answer the question on time! </h1>
      <h2>{{ randomPlayer }}</h2>

        <h2>It's {{player_1}}'s turn!</h2>


        <h2>It's {{player_2}}'s turn!</h2>

    <h2 id="n1">{{ player_1 }}</h2>
    <h2 id="n2">{{ player_2 }}</h2>
    <h2 id="Question">{{ in_quiry }}</h2>

    <h2>{{ numRounds }}</h2>

    <!-- {% if currentPlayer == "player_1" %}
      <button type="button" name="button">Test</button>
    {% endif %}

    {% if currentPlayer == "player_2" %}
      <button type="button" name="button">Testers</button>
    {% endif %} -->

<br>
<br>
    <!-- <script id="Answer2">
      let countDownDate = new Date(5).getTime();
      let distance = countDownDate;
      let seconds = distance;

      let x = setInterval(function() {  // Update the count down every 1 second
        console.log(seconds)
        seconds = seconds - 1

        document.getElementById("countdown").innerHTML = seconds + "s ";

        if (distance < 0) {
          clearInterval(x); // If the count down is finished, write some text
          document.getElementById("countdown").innerHTML = "EXPIRED";
        }
      }, 1000);

      let time = 1;
      function click() {

      }
      function myFunction(time) {
        if (time == 0) {
          setTimeout(function() {
            window.location.href = "http://localhost:8080/results1";
          }, time);
        }
        else if (time == 1) {
          setTimeout(function() {
            window.location.href = "http://localhost:8080/results1";
          }, time);
        }

      }

      myFunction(time);

    </script> -->
  </head>

  <body>
    <p id="countdown"></p>




    <form class="" id= "results1" action="/results1" method="post">
      {% for answer in all_answers %}
        <input type="radio" name="answer" value="{{answer}}">{{answer}}<br>
      {% endfor %}


      <input type="submit" class="button Submit"></button>

    </form>
  </body>
</html>
