<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Ma8ic Trivia</title>
    <style media="screen">
    #header{

      text-align: center;
    }
    #n1{
      color: white;
     position: absolute; top: 5px; left: 5px; text-align: left;
     }
    #n2{
      color: white;
     position: absolute; top: 5px; right: 5px; text-align: right;
     }
    }
    </style>
  </head>
  <body>
    <link href="https://fonts.googleapis.com/css?family=Monoton" rel="stylesheet">
    <link rel="stylesheet" href="astros.css">
    <body style="background-color:#FEBC1F">
      <div id="header">
      <h1>Ma8ic Trivia </h1>
      </div>

    <h2 id="n1">name1</h2>
    <h2 id="n2">name2</h2>

    <form class="" action="/results" method="post">
      <input type="submit" name="" value="Submit">
      <input type="text" name="" value="">
    </form>
  </body>
</html>
